<%- include('partials/header') -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="POST">
        <div class="form-group">
            <label for="post-title">Title</label>
            <input class="form-control" id="post-title" type="text" name="postTitle">
        </div>
        <div class="form-group">
            <label for="post-body">Post</label>
            <textarea class="form-control" rows="8" id="post-body" name="postBody"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button" value="publish">Publish</button>
    </form>
<%- include('partials/footer') -%>)